body{
    background-color:lightcyan;
    }
hr {
    border-style:none;
    border-top-style:dotted;
    border-color:grey;
    border-width:5px;
    width:5%;
            
    }
h1 {
    color:#66BFBF;
    background-color:lightgray;
    }
h3 {
    color:#66bfbf;
    background-color:lightgray;
}